@media only screen and (max-width: 768px) {
  /* Home Container */
  .home-container {
    background-image: url("../../public/images/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Logo Container */
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    opacity: 0.8;
  }

  .logo-container span {
    color: #ffffff;
    padding-left: 6px;
    /* font-family: Roboto Condensed; */
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  /* Welcome Contaienr */
  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 192px;
  }

  /* title section */
  .title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title-section p:first-child {
    margin: 0;
    /* font-family: Nunito; */
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #fafafa;
  }
  .title-section p:first-child span {
    color: #8fb2f5;
  }
  .title-section p:last-child {
    margin: 4px 0 0 0;
    /* font-family: Nunito; */
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #bfbfd4;
  }

  /* text section */
  .text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
  }
  .text-section input {
    background: #1e1e29;
    width: 311px;
    height: 56px;
    border-radius: 8px;
    border: none;
  }
  .text-section input[type="text"] {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #7f7f98;
    padding-left: 16px;
  }
  .text-section input::placeholder {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #7f7f98;
  }
  
  
}
