@media only screen and (max-width: 768px) {
  /* Home Container */
  .home-container {
    background-image: url("../../public/images/Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Logo Container */
  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 48px;
    opacity: 0.8;
  }

  .logo-container span {
    color: #ffffff;
    padding-left: 6px;
    /* font-family: Roboto Condensed; */
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  /* Welcome Contaienr */
  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 192px;
  }

  /* title section */
  .title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title-section p:first-child {
    margin: 0;
    /* font-family: Nunito; */
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #fafafa;
  }
  .title-section p:first-child span {
    color: #8fb2f5;
  }
  .title-section p:last-child {
    margin: 4px 0 0 0;
    /* font-family: Nunito; */
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #bfbfd4;
  }

  /* text section */
  .text-section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
  }
  .text-section input {
    background: #1e1e29;
    width: 311px;
    height: 56px;
    border-radius: 8px;
    border: none;
    position: relative;
  }
  .text-section input[type="text"] {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #7f7f98;
    padding-left: 16px;
  }
  .text-section input::placeholder {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #7f7f98;
  }

  /* spinner */
  .spinner {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    margin-top: 15px;
  }

  .spinner img {
    vertical-align: middle;
    background: transparent;
  }

  /* geolocation button */
  .geolocation-button {
    margin-top: 10px;
    text-align: center;
  }
  
  .geolocation-button button {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #7f7f98;
    background: #1e1e29;
    border: 1px solid rgb(106, 106, 156);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(180, 162, 162, 0.1); 
  }
  
  /* popover section */
  .popover-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popover-section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    opacity: 0.8;
  }

  .frame {
    width: 311px;
    height: 54px;
    padding: 16px 20px;
    border: 0px;
    border-bottom: 1px solid #1e1e29;
    background: #3b3b54;
    box-shadow: 0px 4px 30px 0px #00000066;
    margin-top: 8px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    color: #fafafa;
    animation-name: slideIn;
    animation-duration: 300ms;
    animation-timing-function: ease-out;
    cursor: pointer;
    list-style: none;
  }

  .frame:hover {
    background: #48485f;
  }

  .frame + .frame {
    margin-top: 1px;
  }

  .frame:first-of-type {
    border-radius: 20px 20px 0 0;
  }

  .frame:last-of-type {
    border-radius: 0 0 20px 20px;
  }
}
